JSP/web/WEB-INF/wsdl/localhost_8081/SOAP/Sales_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.manasik/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.manasik/" name="Sales_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.manasik/" schemaLocation="http://localhost:8081/SOAP/Sales_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getListSales">
<part name="parameters" element="tns:getListSales"/>
</message>
<message name="getListSalesResponse">
<part name="parameters" element="tns:getListSalesResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getListPurchases">
<part name="parameters" element="tns:getListPurchases"/>
</message>
<message name="getListPurchasesResponse">
<part name="parameters" element="tns:getListPurchasesResponse"/>
</message>
<message name="buy">
<part name="parameters" element="tns:buy"/>
</message>
<message name="buyResponse">
<part name="parameters" element="tns:buyResponse"/>
</message>
<portType name="Sales_WS">
<operation name="hello">
<input wsam:Action="http://marketplace.manasik/Sales_WS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://marketplace.manasik/Sales_WS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getListSales">
<input wsam:Action="http://marketplace.manasik/Sales_WS/getListSalesRequest" message="tns:getListSales"/>
<output wsam:Action="http://marketplace.manasik/Sales_WS/getListSalesResponse" message="tns:getListSalesResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://marketplace.manasik/Sales_WS/getListSales/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://marketplace.manasik/Sales_WS/getListSales/Fault/SQLException"/>
</operation>
<operation name="getListPurchases">
<input wsam:Action="http://marketplace.manasik/Sales_WS/getListPurchasesRequest" message="tns:getListPurchases"/>
<output wsam:Action="http://marketplace.manasik/Sales_WS/getListPurchasesResponse" message="tns:getListPurchasesResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://marketplace.manasik/Sales_WS/getListPurchases/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://marketplace.manasik/Sales_WS/getListPurchases/Fault/SQLException"/>
</operation>
<operation name="buy">
<input wsam:Action="http://marketplace.manasik/Sales_WS/buyRequest" message="tns:buy"/>
<output wsam:Action="http://marketplace.manasik/Sales_WS/buyResponse" message="tns:buyResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://marketplace.manasik/Sales_WS/buy/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://marketplace.manasik/Sales_WS/buy/Fault/SQLException"/>
</operation>
</portType>
<binding name="Sales_WSPortBinding" type="tns:Sales_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getListPurchases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="buy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Sales_WS">
<port name="Sales_WSPort" binding="tns:Sales_WSPortBinding">
<soap:address location="http://localhost:8081/SOAP/Sales_WS"/>
</port>
</service>
</definitions>