JSP/web/WEB-INF/wsdl/localhost_8081/SOAP/YourProduct_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.manasik/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.manasik/" name="YourProduct_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.manasik/" schemaLocation="http://localhost:8081/SOAP/YourProduct_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<portType name="YourProduct_WS">
<operation name="getProduct">
<input wsam:Action="http://marketplace.manasik/YourProduct_WS/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://marketplace.manasik/YourProduct_WS/getProductResponse" message="tns:getProductResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://marketplace.manasik/YourProduct_WS/getProduct/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://marketplace.manasik/YourProduct_WS/getProduct/Fault/SQLException"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://marketplace.manasik/YourProduct_WS/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://marketplace.manasik/YourProduct_WS/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://marketplace.manasik/YourProduct_WS/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://marketplace.manasik/YourProduct_WS/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
</portType>
<binding name="YourProduct_WSPortBinding" type="tns:YourProduct_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="YourProduct_WS">
<port name="YourProduct_WSPort" binding="tns:YourProduct_WSPortBinding">
<soap:address location="http://localhost:8081/SOAP/YourProduct_WS"/>
</port>
</service>
</definitions>