JSP/src/conf/xml-resources/web-service-references/Catalog_WS/wsdl/localhost_8081/SOAP/Catalog_WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.manasik/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.manasik/" name="Catalog_WS">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.manasik/" schemaLocation="http://localhost:8081/SOAP/Catalog_WS?xsd=1"/>
</xsd:schema>
</types>
<message name="searchCatalog">
<part name="parameters" element="tns:searchCatalog"/>
</message>
<message name="searchCatalogResponse">
<part name="parameters" element="tns:searchCatalogResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getCatalog">
<part name="parameters" element="tns:getCatalog"/>
</message>
<message name="getCatalogResponse">
<part name="parameters" element="tns:getCatalogResponse"/>
</message>
<portType name="Catalog_WS">
<operation name="searchCatalog">
<input wsam:Action="http://marketplace.manasik/Catalog_WS/searchCatalogRequest" message="tns:searchCatalog"/>
<output wsam:Action="http://marketplace.manasik/Catalog_WS/searchCatalogResponse" message="tns:searchCatalogResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://marketplace.manasik/Catalog_WS/searchCatalog/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://marketplace.manasik/Catalog_WS/searchCatalog/Fault/SQLException"/>
</operation>
<operation name="getCatalog">
<input wsam:Action="http://marketplace.manasik/Catalog_WS/getCatalogRequest" message="tns:getCatalog"/>
<output wsam:Action="http://marketplace.manasik/Catalog_WS/getCatalogResponse" message="tns:getCatalogResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://marketplace.manasik/Catalog_WS/getCatalog/Fault/ClassNotFoundException"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://marketplace.manasik/Catalog_WS/getCatalog/Fault/SQLException"/>
</operation>
</portType>
<binding name="Catalog_WSPortBinding" type="tns:Catalog_WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchCatalog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getCatalog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Catalog_WS">
<port name="Catalog_WSPort" binding="tns:Catalog_WSPortBinding">
<soap:address location="http://localhost:8081/SOAP/Catalog_WS"/>
</port>
</service>
</definitions>